<!DOCTYPE html>

<html>
{% include 'dashboard/base.html' %}
<style>
    div.scroll1 {
        overflow: scroll;
        height: 500px;
}
</style>
<body>
<div class="container">
    {% if user.is_authenticated %}
    <h1>Antibiogram Dashboard</h1>
    {% load crispy_forms_tags %}
    {% block content %}
    <div class='container'>
        <br>
         {% csrf_token %}
        {{ form.keywords|as_crispy_field }}
        <div class="row">
          <div class="row">
          <div class="col-md-3">{{ form.site|as_crispy_field }}{{ form.org|as_crispy_field }}</div>
          </div>
          <div class="col-md-3">{{ form.col|as_crispy_field }}</div>
        </div>


        <button type="submit" class="btn btn-success">Generate Sensitivity Table</button>
    </div>
    {% endblock %}
    {% else %}
    <h1>Antibiogram Dashboard</h1>
    <strong>{{ boldmessage }}</strong><br/>
    <h1> Login/Register to access Antibiogram Dashboard </h1>
    <a href="/dashboard/login/">
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
    </a>
    <a href="/dashboard/register/">
        <button class="btn btn-lg btn-primary" type="submit">Register</button>
    </a>
    </br>    </br>
    <div class="form-signin col-sm-4">
        <a class="btn btn-block btn-social btn-google" href="/dashboard/google_login/">
            <i class="fa fa-google"></i>
            Sign in with Google
        </a>
    </div>
    {% endif %}
    <br>
</div>
</body>
</html>
