<!DOCTYPE html>
<html>
{% include 'dashboard/base.html' %}
<link href="/static/css/form.css" rel="stylesheet">
<body>
{% if registered %}
<strong>Please Login</strong>
<a href="/dashboard/login/">Go to login page.</a><br/>
{% else %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container text-left'>
    <h2 class="form-signin-heading">Add Pathalogical Test</h2>
    <br>
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save Path Test</button>
      </form>
    </div>
{% endblock %}
{% endif %}



</body>
</html>

