<!DOCTYPE html>
<html>
{% include 'dashboard/base.html' %}
<link href="/static/css/form.css" rel="stylesheet">
<body>
{% if registered %}
<strong>Thank you for registering!</strong>
<a href="/dashboard/login/">Return to the homepage.</a><br/>

{% else %}
<div class='container text-center'>
    <h2 class="form-signin-heading">Sign Up</h2>
    <br>
    <form action="/dashboard/register/" class="form-horizontal" enctype="multipart/form-data" id="user_form"
          method="post">
        {% csrf_token %}
        {% load bootstrap %}

        <table>
            <tr>

                <td class="container text-center">{{ user_form.username | bootstrap_horizontal}}</td>
            </tr>

            <tr>

                <td class="container text-center">{{ user_form.email | bootstrap_horizontal}}</td>
            </tr>

            <tr>

                <td class="container text-center">{{ user_form.password | bootstrap_horizontal}}</td>
            </tr>
        </table>
        <button class="btn btn-lg btn-primary" type="submit">Register</button>
        <input name="submit" type="hidden" value="Register"/>
    </form>
</div>
{% endif %}
</body>
</html>

